<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
body {
	font-size: 14px;
}
</style>
	</h:head>
	<h:body>
	<ui:include src="admin_menu.xhtml" />
		<h:form id="category_form">
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
			<p:panel id="mainPanel" header="Tweet and User Categories">
				<p:outputPanel id="listView" rendered="#{categoriesBean.showList}">
				<p:commandButton value="Create Category" actionListener="#{categoriesBean.createCategory}" update="@form">
                        </p:commandButton>
					<p:commandLink update="@form" title="Update Category">
						<f:setPropertyActionListener value="#{oneCategory}"
							target="#{categoriesBean.selectedCategory}" />
					</p:commandLink>
					<p:dataTable var="oneCategory" value="#{categoriesBean.categories}">
						<p:column headerText="Id">
							<h:outputText value="#{oneCategory.id}" />
						</p:column>

						<p:column headerText="Category">
							<h:outputText value="#{oneCategory.name}" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="Update" />
							</f:facet>
							<p:commandLink update="@form" title="Update Category">
								<p:graphicImage
									value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png"
									height="20" />
								<f:setPropertyActionListener value="#{oneCategory}"
									target="#{categoriesBean.selectedCategory}" />
							</p:commandLink>
						</p:column>

					</p:dataTable>
				</p:outputPanel>
				<p:outputPanel id="formView" rendered="#{!categoriesBean.showList}">
					<p:panelGrid columns="2">
						<p:outputLabel value="Category"></p:outputLabel>
						<p:inputText value="#{categoriesBean.selectedCategory.name}"
							style="width:600px">
							<p:ajax event="change" update="@form" />
						</p:inputText>
					</p:panelGrid>
					<p:outputPanel id="buttonView" >
					<p:commandButton value="Cancel" update="@form"
						actionListener="#{categoriesBean.cancel}"
						styleClass="ui-priority-primary">
					</p:commandButton>
					<p:commandButton id="saveCategory" value="Save Category"
						update="@form"
						actionListener="#{categoriesBean.saveCategory}"
						styleClass="ui-priority-primary">
					</p:commandButton>
					</p:outputPanel>
				</p:outputPanel>
			</p:panel>
		</h:form>
	</h:body>
</f:view>