<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
body {
	font-size: 14px;
}
</style>
	</h:head>
	<h:body>
		<ui:include src="admin_menu.xhtml" />
		<h:form id="terms_form">
            <p:panel id="mainPanel" header="HashTag Top Users">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

			<p:panelGrid  columns="3">
				<p:outputLabel value="Hashtag"></p:outputLabel>
				<p:inputText value="#{hashtagAccountBean.hashtag}"
					style="width:600px">
				</p:inputText>
				<p:commandButton id="searchHashTag" value="Search Hashtag Users" update="@form"
                    actionListener="#{hashtagAccountBean.reloadDataForhashtag}"
                    styleClass="ui-priority-primary">
                </p:commandButton>
			</p:panelGrid>
			<p:blockUI block="mainPanel" trigger="searchHashTag" />

				<p:dataTable var="oneAccount" value="#{hashtagAccountBean.accounts}">
					<p:column headerText="Id">
						<h:outputText value="#{oneAccount.twitterAccount.id}" />
					</p:column>

					<p:column headerText="Name">
						<h:outputText value="#{oneAccount.twitterAccount.name}" />
					</p:column>
                    <p:column headerText="Screen Name">
                        <h:outputText value="#{oneAccount.twitterAccount.screenName}" />
                    </p:column>
                    <p:column headerText="Count">
                        <h:outputText value="#{oneAccount.count}" />
                    </p:column>
					

				</p:dataTable>
			</p:panel>
		</h:form>
	</h:body>
</f:view>