<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
body {
	font-size: 14px;
}
</style>
	</h:head>
	<h:body>
		<ui:include src="admin_menu.xhtml" />
		<h:form id="terms_form">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
			<p:panelGrid columns="3">
				<p:outputLabel value="Hashtag"></p:outputLabel>
				<p:inputText id="hashTagText" value="#{relatedHashtagBean.hashtag}"
					style="width:600px">
				</p:inputText>
				<p:commandButton id="searchHashTag" value="Search Hashtag Users"
					update="@form"
					actionListener="#{relatedHashtagBean.reloadDataForhashtag}"
					styleClass="ui-priority-primary">
				</p:commandButton>
				<p:blockUI block=":terms_form" trigger=":terms_form:tv:mindmap" />
				<p:blockUI block=":terms_form" trigger=":terms_form:searchHashTag" />
			</p:panelGrid>
			<p:tabView id="tv">
				<p:tab title="Mind Map">
					<p:mindmap id="mindmap" value="#{relatedHashtagBean.root}"
						style="width: 100%;height: 600px;border: 1px solid black;">
						<p:ajax event="select"
							update=":terms_form:tv:tb,:terms_form:hashTagText"
							listener="#{relatedHashtagBean.onNodeSelect}" />
						<p:ajax event="dblselect"
							listener="#{relatedHashtagBean.onNodeDblselect}" update="output"
							oncomplete="PF('details').show();" />
					</p:mindmap>
					<p:dialog widgetVar="details" header="Node Details"
						resizable="false" modal="true" showEffect="fade" hideEffect="fade">
						<h:outputText id="output" value="#{minmapView.selectedNode.data}" />
					</p:dialog>
				</p:tab>
				<p:tab title="Tabular">
					<p:dataTable id="tb" var="onehashTag"
						value="#{relatedHashtagBean.hashTags}">
						<p:column headerText="Id">
							<h:outputText value="#{onehashTag.hashTag.id}" />
						</p:column>
						<p:column headerText="Name">
							<h:outputText value="#{onehashTag.hashTag.tag}" />
						</p:column>
						<p:column headerText="Screen Name">
							<h:outputText value="#{onehashTag.count}" />
						</p:column>

					</p:dataTable>
				</p:tab>
			</p:tabView>
		</h:form>
	</h:body>
</f:view>