<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
body {
	font-size: 14px;
}
</style>
	</h:head>
	<h:body>
	<ui:include src="admin_menu.xhtml" />
		<h:form id="terms_form">
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            
			<p:panel id="mainPanel" header="Twitter Terms being tracked">
				<p:outputPanel id="listView" rendered="#{termsBean.showList}">
				<p:commandButton value="Create Term" actionListener="#{termsBean.createTerm}" update="@form">
                        </p:commandButton>
					<p:commandLink update="@form" title="Update Term">
						<f:setPropertyActionListener value="#{oneTerm}"
							target="#{termsBean.selectedTerm}" />
					</p:commandLink>
					<p:dataTable var="oneTerm" value="#{termsBean.trackingTerms}">
						<p:column headerText="Id">
							<h:outputText value="#{oneTerm.id}" />
						</p:column>

						<p:column headerText="Term">
							<h:outputText value="#{oneTerm.term}" />
						</p:column>
						<p:column style="width:100px;">
							<f:facet name="header">
								<h:outputText value="Update" />
							</f:facet>
							<p:commandLink update="@form" title="Update Term">
								<p:graphicImage
									value="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-redo-48.png"
									height="20" />
								<f:setPropertyActionListener value="#{oneTerm}"
									target="#{termsBean.selectedTerm}" />
							</p:commandLink>
						</p:column>

					</p:dataTable>
				</p:outputPanel>
				<p:outputPanel id="formView" rendered="#{!termsBean.showList}">
					<p:panelGrid columns="2">
						<p:outputLabel value="Term"></p:outputLabel>
						<p:inputText value="#{termsBean.selectedTerm.term}"
							style="width:600px">
							<p:ajax event="change" update="@form" />
						</p:inputText>
					</p:panelGrid>
					<p:outputPanel id="buttonView" >
					<p:commandButton value="Cancel" update="@form"
						actionListener="#{termsBean.cancel}"
						styleClass="ui-priority-primary">
					</p:commandButton>
					<p:commandButton id="saveTerm" value="Save Term"
						update="@form"
						actionListener="#{termsBean.saveTerm}"
						styleClass="ui-priority-primary">
					</p:commandButton>
					</p:outputPanel>
				</p:outputPanel>
			</p:panel>
		</h:form>
	</h:body>
</f:view>