<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
body {
	font-size: 14px;
}
</style>

	</h:head>
	<h:body>
		<ui:include src="admin_menu.xhtml" />
		<h:form id="tweet_moderaion_form">
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
			<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

			<p:panel id="mainPanel" header="Mark Tweet as Pro AAP or Against AAP">
			<p:commandButton value="Pro Aap Tweet" id="proAap" update="@form"
                            actionListener="#{tweetModerationBean.updateCategoryAsProAap()}"
                            styleClass="ui-priority-primary" />
                        <p:commandButton value="Against Aap Tweet" id="againstAap"
                            update="@form"
                            actionListener="#{tweetModerationBean.updateCategoryAsAgainstAap()}"
                            styleClass="ui-priority-primary" />
                        <p:commandButton value="Neutral Tweet" id="neutralTweet"
                            update="@form"
                            actionListener="#{tweetModerationBean.updateCategoryAsNeutral()}"
                            styleClass="ui-priority-primary" />
                        <p:blockUI block="@form"
                            trigger=":tweet_moderaion_form:againstAap" />
                        <p:blockUI block="@form" trigger=":tweet_moderaion_form:proAap" />
                        <p:blockUI block="@form"
                            trigger=":tweet_moderaion_form:neutralTweet" />
                            
				<p:dataTable id="dt" var="oneTweet" rowKey="#{oneTweet.id}" selection="#{tweetModerationBean.selectedTweets}"
					value="#{tweetModerationBean.tweets}">
					<p:column selectionMode="multiple" style="width:16px;text-align:center"/>
					<p:column headerText="Category">
						<blockquote class="twitter-tweet" lang="en">
							<p>#{oneTweet.text}</p>
							&amp;mdash; @#{oneTweet.screenName} <a
								href="https://twitter.com/#{oneTweet.screenName}/status/#{oneTweet.tweetId}">#{oneTweet.createdAt}</a>
						</blockquote>


					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="User" />
						</f:facet>
						<p:commandButton value="Mark @#{oneTweet.screenName} Against Aap"
							id="userAgainstAap" update="@form"
							actionListener="#{tweetModerationBean.updateUserAsAgainstAap(oneTweet.screenName)}"
							styleClass="ui-priority-primary" />
						<p:commandButton value="Mark @#{oneTweet.screenName} Pro Aap"
							id="userProAap" update="@form"
							actionListener="#{tweetModerationBean.updateUserAsProAap(oneTweet.screenName)}"
							styleClass="ui-priority-primary" />
						<p:blockUI block="@form"
							trigger=":tweet_moderaion_form:dt:userAgainstAap" />
						<p:blockUI block="@form"
							trigger=":tweet_moderaion_form:dt:userProAap" />
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</h:body>
</f:view>